@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-blue: #4d5b9e;
  --color-light-blue: #d6dbf5;
  --color-white: #fff;
  --color-navy: #293264;
  --color-success: #94d7a2;
  --color-danger: #f8bcbc;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Karla", system-ui;
}

main {
  width: 1400px;
  height: 700px;
  background-image: url("/assets/intro-page.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
