.title {
  color: var(--color-navy);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.desc {
  color: var(--color-navy);
  font-size: 1rem;
  font-weight: 400;
}

.btnStart {
  background-color: var(--color-blue);
  border: none;
  padding: 1rem 0;
  color: var(--color-white);
  border-radius: 1rem;
  width: 12rem;
  margin-top: 3.5rem;
  cursor: pointer;
}
